.item {
  list-style-type: none;
  margin: 0 0 16px -40px;
  background-color: #fff;
  box-shadow: 0 0 2px 0 #b3b1b1bf;
}

.bookContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: monospace, sans-serif;
  padding: 16px;
  background-color: #fff;
}

.bookButton {
  word-wrap: break-word;
  font-size: 15px;
  line-height: 18px;
  font-family: monospace, sans-serif;
  margin-top: 10px;
}

.progressStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  margin: 0;
}

.readingStyle {
  display: block;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  margin: 0;
}
